@import './reset.scss';
@import './variables/globals.scss';

body {
	height: 100vh;
	background-color: var(--bg-color);
}

.app {
	color: var(--primary-color);
	font: var(--font-m);
	overflow: hidden;
}