.root {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.root__options {
	position: absolute;
	top: calc(100% + 4px);
	left: 0;
	border-radius: 8px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	max-height: 300px;
	width: 100%;
	overflow: auto;
	background: var(--neutral-800);
}