.root {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	gap: 12px;
	align-items: center;
	padding-inline: 8px;
	width: 100%;
	height: var(--footer-height);
	font-size: 12px;
	background-color: var(--secondary-800);
}

.root__item {
	position: relative;
	height: 100%;
	display: inline-flex;
	align-items: center;
}

.root__item::after {
	content: '';
	position: absolute;
	right: -8px;
	top: 4px;
	width: 1px;
	border-radius: 2px;
	background: var(--neutral-200);
	height: 12px;
}