.root {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	gap: 12px;
	align-items: center;
	width: 100%;
	height: var(--footer-height);
	padding-inline: 8px;
	background-color: var(--secondary-800);
	font-weight: 400;
	font-size: 12px;

	&__item {
		position: relative;
		display: inline-flex;
		align-items: center;
		height: 100%;
	}

	&__item::after {
		content: '';
		position: absolute;
		top: 4px;
		right: -6px;
		bottom: 4px;
		width: 1px;
		border-radius: 2px;
		background: var(--neutral-200);
	}
}
