.root {
	display: flex;
	align-items: center;
	padding: 4px;
	background: var(--bg-color);
	border: none;
	transition: transform .1s ease-in;
	border-radius: 8px;
	cursor: pointer;
}

.root:focus {
	outline: none;
}
