.root {
	display: flex;
	align-items: center;
	padding: 4px;
	background: var(--bg-color);
	border: none;
	transition: transform .1s ease-in;
	border-radius: 8px;
}

.root:focus {
	outline: none;
	transform: translate3d(8px, 0, 0) scale(1.1);
}
