.root {
	padding: 16px;
	
	&__addbutton {
		background: var(--success-800);
	}

	&__item {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	&__item__icon {
		border-radius: 50%;
		background: var(--danger-400);
	}
}
