.root {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: flex-start;
	overflow: hidden;
	width: 0;
	height: 100%;
	border-right: 0 solid var(--secondary-800);
	background: var(--bg-color);
	text-wrap: nowrap;
	transition: all 0.2s ease;

	>div:nth-child(odd) {
		padding-left: 16px;
	}

	&::-webkit-scrollbar {
		width: 16px;
	}
	
	&::-webkit-scrollbar-track { 
		border-radius: 100px;
		background: inherit;
	}
	
	&::-webkit-scrollbar-thumb {
		border: 6px solid var(--bg-color); 
		border-radius: 8px;
		background: var(--primary-600);
	}
	
	&::-webkit-scrollbar-thumb:hover {
		background: var(--primary-800); 
	}

	&_expanded {
		overflow: hidden auto;
		width: 175px;
		border-right: 2px solid var(--secondary-800);
	}
}

