.root {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 0;
	height: 100%;
	background: var(--bg-color);
	overflow: hidden;
	transition: all 0.2s ease;
	border-right: 0 solid var(--secondary-800);
	text-wrap: nowrap;
	align-items: flex-start;

	>div:nth-child(odd) {
		padding-left: 16px;
	}

	&::-webkit-scrollbar {
  		width: 16px;
	}
	
	&::-webkit-scrollbar-track {
		background: inherit; 
		border-radius: 100px;
	}
	
	&::-webkit-scrollbar-thumb {
		background: var(--primary-600); 
		border-radius: 8px;
		border: 6px solid var(--bg-color);
	}
	
	&::-webkit-scrollbar-thumb:hover {
		background: var(--primary-800); 
	}
}

.root_expanded {
	width: 175px;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 2px solid var(--secondary-800);
}