.root {
	position: relative;
	width: fit-content;
	height: fit-content;
	padding: 8px;
	border-radius: 8px;
	background: var(--neutral-800);

	&__overlay {
		position: absolute;	
		inset: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgb(0 0 0 / 30%);
	}
}

