.root {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 16px;
	overflow: auto;

	&::-webkit-scrollbar {
		width: 16px;
	}
	
	&::-webkit-scrollbar-track { 
		border-radius: 100px;
		background: inherit;
	}
	
	&::-webkit-scrollbar-thumb {
		border: 6px solid var(--bg-color); 
		border-radius: 8px;
		background: var(--primary-600);
	}
	
	&::-webkit-scrollbar-thumb:hover {
		background: var(--primary-800); 
	}
	
	&__list {
		display: flex;
		flex-direction: column;
		gap: 8px;
		list-style: none;
	}
}


