.root {
	--header-height: 40px;
	--footer-height: 20px;
	display: flex;
	position: relative;
	flex-direction: column;
	padding: 16px 0 var(--footer-height) 16px;
	color: var(--neutral-100);
	font: var(--font-m);
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}