.root {
	--titlebar-height: 34px;
	--header-height: 40px;
	--footer-height: 24px;

	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	padding: calc(16px + var(--titlebar-height)) 0 var(--footer-height) 0;
	color: var(--neutral-100);
	font: var(--font-m);
}