.root {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;

	&__name {
		display: flex;
		align-items: center;
	}

	&__metadata {
		display: flex;
		align-items: center;
	}
}

