.root {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 12px;
	border: 1px solid var(--neutral-800);
	border-radius: 4px;

	&__input {
		border: none;

	}

	&__input:focus {
		border: none;
		outline: none;
	}
}

