.root {
	text-wrap: nowrap;
	border-radius: 4px;
	background-color: transparent;
	padding-inline: 16px;
	width: 100%;
	outline: none;
	border: none;
	cursor: pointer;
	height: 40px;
}

.root__item {
	display: flex;
	border-radius: inherit;
	align-items: center;
	background-color: transparent;
	border: none;
}

.root_focused {
	background: rgba(255,255,255, .3);
	outline: none;
}

.root__item__num {
	text-align: start;
	width: 25px;
}

.root:hover {
	background: rgba(255,255,255, .15);
}
