.root {
	text-wrap: nowrap;
	border-radius: 4px;
}

.root__item {
	display: flex;
	gap: 8px;
	border-radius: inherit;
	background-color: transparent;
	border: none;
}

.root__button {
	background-color: transparent;
	height: inherit;
	width: 100%;
	outline: none;
	border: none;
	cursor: pointer;
}

.root__button:hover {
	background: rgba(255,255,255, .15);
}

.root__button:focus {
	background: rgba(255,255,255, .3);
	outline: none;
}