.root {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: var(--titlebar-height);

	&__logo {
		display: flex;
		gap: 8px;
		align-items: center;
		height: 100%;
		padding-left: 8px;
	}

	&__buttons {
		display: flex;
		align-self: flex-end;
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: var(--titlebar-height);
		border-radius: 0;
		transition: all 0.3s ease;
	}

	&__button:hover {
		background: var(--neutral-600);
	}

	&__close:hover {
		background: var(--danger-700);
	}
}
